$callout-image-path: "#{$component-path}/iman-styles-callout/assets" !default;

@function callout-path($path) {
  @return "#{$callout-image-path}/#{$path}";
}

@function callout-url($path) {
  @return url(callout-path($path));
}

// -------------------------------------------------------

.callout-1 {
  position: relative;

  .callout-1__icon {
    background: transparent callout-url('iman-badge-blank.png') 0 0 no-repeat;
    height: 166px;
    text-align: center;
    width: 158px;
  }

  .callout-1__icon .callout-1__label {
    color: $green;
    display: block;
    font-family: $font-family-roboto;
    font-size: 15.5px;
    line-height: 18px;
    position: relative;
    top: 35px;
  }
  .callout-1__label span {
    color: #fff;
    font-size: 15.7px;
    line-height: 24px;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.4);
    font-weight: 500;
  }
  .callout-1__label .line-1 {
    font-size: 15.4px;
    line-height: 1px;
    color: #89c531;
  }
  .callout-1__label .line-2 {
    font-size: 18.6px;
    line-height: 1px;
    color: #89c531;
  }
  .callout-1__label .line-3 {
    display: inline-block;
    padding: 23px 0 5px 0;
    font-size: 11.8px;
    line-height: 1px;
    color: #d0d0d2;
    color: rgba(255,255,255,0.7);
  }
  .callout-1__label .line-4 {
    font-size: 16.6px;
    line-height: 1px;
    color: #d0d0d2;
    color: rgba(255,255,255,0.7);
  } 
}

//home page callout
.callout-2 {
  background: transparent callout-url('callout-2-bg.jpg') top center no-repeat;
  
  .callout-2__content {
    background: transparent callout-url('dark-opaque-bg.png');
    color: #fff;
    margin: 245px 0 100px;
    padding: 30px;
    position: relative;
  }

  .callout-2__trigger {
    bottom: 30px;
    position: absolute;
    right: 30px;
  }

  .callout-2__diac {
    bottom: -10px;
    position: absolute;
    right: 78px;
  }
}
